h1{
    font-size: 70px;
    font-style: italic;
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    border-top-color:black;
    border-left-color: black;
    border-right-color:black ;
    border-bottom-color: black;
    margin: 10px;
}
h2{
    font-size: 40px;
    position: relative;
    font-style: italic;
    left: 5px;
    padding-top: 50px;
    padding-bottom: 180px;
}
h3{
    font-size: 25px;
    font-style: italic;
    text-align: center;
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    padding: 30px;
}
body{
    background-image: url("https://acctsearches.files.wordpress.com/2018/06/cncc_logo_art_red.png?w=1200");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: azure;
    padding: 20px;

}
h4{
    font-size: 25px;
    font-style: italic;
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    margin:30px;
    padding: 15px;   
}
h5{
    font-size: 25px;
    font-style: italic;
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    float: right;
    border-top: 30px;
}
p{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-left-color: black;
    border-right-color:black;
    border-bottom-color: black;
    background-color: blue;
    position: relative;
    padding-right: 1500px;
    bottom: 430px;
    
}
    
img{
    width: 75%;
    height: 75%;
}
.dropbtn {
    background-color: red;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: solid;
    border-color: black;
    position: relative;
    right: 60px;
    bottom: 20px;
}
  .dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
  }
  .dropdown-content {
    display: none;
    position: fixed;
    right: 20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px black;
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: antiquewhite;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: greenyellow;
}
@keyframes slide {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 50%;
      top: 100px;
    }
    100% {
      left: 100%;
      top: 0;
    }
  }
  .stage {
    background: azure;
    border-radius: 6px;
    height: 55px;
    position: relative;
    min-width: 538px;
  }
  .stage:hover .ball {
    animation: slide 3s linear;
  }
  .ball {
    background: red;
    border-radius: 50%;
    height: 80px;
    position: absolute;
    width: 80px;
    text-align: center;
    color: black;
    font-weight: bold;
    border-style: solid;
    transition-property: border-radius;
    transition-duration: 2s;
    transition-timing-function: linear;
 }
 .ball:hover{
     background:plum;
     border-radius: 50%;
 }
 .circle{
    height: 480px;
    width: 480px;
    line-height: 20px;
    border-radius: 25px;
    background-color:red;
    color:black;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    font-weight: bold;
    font-size: 25px;
    transition-property: border-radius;
    transition-duration: .2, 1s;
    transition-timing-function: linear;
    
    }
 .circle:hover{
    background:greenyellow;
    border-radius: 50%;    
 }
 .box{
    width: 400px;
    height: 300px;  
    padding: 60px;
    padding-bottom:50px;
    border-style: solid;
    border-width: 6px;
    color: black;
    background-color: blue;
    font-weight: bold;
    font-size: 25px;
    float: right;
    position: relative;
    bottom: 430px;
    transition-property:border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    }
    .box:hover {
        background: blueviolet;
        border-radius: 50%;
      }
      div{
          text-align: center;
      }
      @keyframes slide {
        0% {
          left: 30px;
          top: 0;
        }
        50% {
          left: 50%;
          top: 100px;
        }
        100% {
          left: 100%;
          top: 0;
        }
    }
      .circle {
        position: relative;
      }
      .circle:hover .platform {
        animation: slide 3s linear;
      }
      .platform {
        background:blue;
        border-style: solid;
        position: absolute;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        transition-property: border-radius;
        transition-duration: 2s;
        transition-timing-function: linear;
        position: absolute;
    
      }
      