h1{
    font-size: 70px;
    font-style: italic;
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-top-color:black;
    border-left-color: black;
    border-right-color:black ;
    border-bottom-color: black;
    margin: 10px;
}
h2{
    font-size: 40px;
    position: relative;
    font-style: italic;
    left: 5px;
    padding: 140px;

    }
h3{
    font-size: 25px;
    font-style: italic;
    text-align: center;
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    padding: 30px;
}
body{
    background-image: url(https://acctsearches.files.wordpress.com/2018/06/cncc_logo_art_red.png?w=1200);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: azure;
    padding: 20px;
}
h4{
    font-size: 25px;
    font-style: italic;
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    margin:30px;
    padding: 15px;   
}
h5{
    font-size: 25px;
    font-style: italic;
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    margin:60px;
    padding: 15px;   
}
p{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-left-color: black;
    border-right-color:black;
    border-bottom-color: black;
    background-color: aliceblue;
    position: relative;
    padding-right: 1500px;
    
}
img{
    width: 75%;
    height: 75%;
}
.dropbtn {
    background-color: red;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: solid;
    border-color: black;
    position: relative;
    right: 60px;
    bottom: 20px;
}
  .dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
  }
  .dropdown-content {
    display: none;
    position: fixed;
    right: 20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px black;
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: antiquewhite;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: antiquewhite;
}
